{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% load url from future %}

<link rel="stylesheet" type="text/css" href="{% static "widgets/verticaltimeline/css/style.css" %}" />

<div id="vert_tl">
    <section id="cd-timeline" class="cd-container">
        {% for rec in tweets %}
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <a href="{{ rec.ta_id.url }}" target="_blank">
                        <img src="{% static "img/newspaper-guy-tear.svg" %}" alt="{{ rec.ta_id.name }}">
                    </a>
                </div>
                <div class="cd-timeline-content">
                    <h2>{{ rec.ta_id.realname }}</h2>
                    <p>{{ rec }}</p>
                    <a href="#0" class="cd-read-more">Read more...</a>
                    <span class="cd-date">{{ rec.created_at }}</span>
                </div>
            </div>
        {% endfor %}
    </section> <!-- cd-timeline -->
</div>


<script type="text/javascript" src="{% static "widgets/verticaltimeline/js/main.js" %}"></script>