{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load twittertags %}

{% block page %}

    <link rel="stylesheet" type="text/css" href="{% static "widgets/verticaltimeline/css/style.css" %}" />

    <table style="width: 100%; margin-bottom: 2em">
        <tr>
            <td style="border-right: 3px solid #d7e4ed; width: 20%; padding-right: 5px; vertical-align: top">{% include "news/leftcolumn.html" %}</td>
            <td style="width: 60%;; vertical-align: top">
                <div id="vert_tl" style="margin-left: 0; margin-top: 13px">
                    <div class="news_control">
                        <div class="add_author_block" style="">
                            <label onclick="AddNews()" class="add_author tab1" title="{% trans "AddNews" %}" for="modal-addauthor"></label>
                            <div class="search search-2 tab1" style="float: left">
                                <form method="POST" action="/news_search/">
                                    <input name="search_news" type="search" placeholder="{% trans "Search" %}" id="tab1_search" {% if post %}value="{{ post }}"{% endif %}>
                                    {% csrf_token %}
                                </form>
                            </div>
                            <div class="effect_author"></div>
                        </div>
                    </div>
                    <section class="cd-container" style="width: 98%">
                        {% for rec in content %}
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img" style="width: 70px; height: 70px">
                                    <a href="/news/article/{{ rec.id }}/">
                                        <img src="{% if rec.ca_id.logo %}{{ rec.ca_id.logo.url }}{% else %}{% static "img/world.png" %}{% endif %}" class="news_logo" alt="{{ rec.ca_name }}">
                                    </a>
                                </div>
                                <div class="cd-timeline-content" style="margin-left: 85px; min-height: 60px">
                                    <h2><a href="/news/article/{{ rec.id }}/">{{ rec.ca_name }}</a></h2>
                                    <p style="margin-top: 8px">{{ rec.ca_desk }}</p>
                                    <span class="cd-date"><i>{{ rec.ca_id.tstamp_update }}</i><a style="margin-left: 15px" href="/user/about/{{ rec.ca_id.author_id }}/">{{ rec.ca_id.author.first_name }} {{ rec.ca_id.author.last_name }}</a></span>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </td>
            <td style="border-left: 3px solid #d7e4ed; width: 20%; vertical-align: top">{% include "news/rightcolumn.html" %}</td>
        </tr>
    </table>
{% endblock %}