{% load staticfiles %}
{% load url from future %}
{% load i18n %}

<div id="authors_content">
    <div class="add_author_block">
        <label onclick="AddAuthor()" class="add_author tab1" title="{% trans "AddAuthor" %}" for="modal-addauthor"></label>
        <div class="search search-2 tab1" style="float: left">
	        <input type="search" placeholder="{% trans "Search" %}" id="tab1_search">
            {% csrf_token %}
            <input type="hidden" id="auth_post_page" name="page" value="{{ page }}">
        </div>
        <div class="effect_author"></div>
    </div>

    <input type="hidden" id="auth_page" value="{{ page }}">
    <div id="authors_content_mini">
    {% include "authors_mini.html" %}
    </div>
    {% if show_next %}
        <button id="getnextauthor" class="styled-button">{% trans "getnextauthor" %}</button>
    {% endif %}


<input class="modal-state" id="modal-addauthor" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-addauthor"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-addauthor"></label>
    <div id="content-modal-addauthor">
        <h2>Caaaats!</h2>
        <p><img src="http://i.imgur.com/HnrkBwB.gif" alt="" /></p>
    </div>
  </div>
</div>

</div>