{% load staticfiles %}
{% load url from future %}
{% load i18n %}

<div id="authors_content">
    <h1>{% trans "authors" %}</h1>
    <div class="add_author_block">
        <button onclick="AddAuthor()" class="add_author" title="{% trans "AddAuthor" %}"></button>
        <div class="effect_author"></div>
    </div>

    <input type="hidden" id="auth_page" value="{{ page }}">
    <div id="authors_content_mini">
    {% include "authors_mini.html" %}
    </div>
    {% if show_next %}
        <button id="getnextauthor" class="styled-button">{% trans "getnextauthor" %}</button>
    {% endif %}
</div>