<!DOCTYPE html>
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% load url from future %}
<html>
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Цветочки" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цветочки</title>
    <link href="{% static "favicon.png" %}" rel="icon" type="image/icon">
    <link rel="apple-touch-icon" href="{% static "apple-touch-favicon.png" %}"/>
    <link href="{% static "flowers_static/css/index.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "flowers_static/css/style.css" %}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{% static "flowers_static/js/modernizr.js" %}"></script>
</head>
<body>

<div id="wrapper">
    <div id="header">
        <div id="logo"></div>
        <div class="tel"><div id="time">пн-пт: с 10:00 до 20:00<br>сб, вс: с 11:00 до 16:00</div></div>
        <div id="name"></div>
    </div>

    <div id="content">
        <div class="cd-projects-wrapper">
            <ul class="cd-slider">
                <li class="current">
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 1</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dicta.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 3</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 4</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 5</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 6</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 7</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 8</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#0">
                        <img src="{% static "flowers_static/img/img.png" %}" alt="project image">
                        <div class="project-info">
                            <h2>Project 9</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="cd-slider-navigation cd-img-replace">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-slider-navigation -->
        </div>
        <div class="cd-project-content">
            <div>
                <h2>Project title here</h2>
                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ullam.</em>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
                <p>
                    Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
                </p>
                <p>
                    Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
                </p>
            </div>
            <a href="#0" class="close cd-img-replace">Close</a>
        </div>
    </div>

    <div id="footer">
        <div class="tel"></div>
        <div id="copyright"></div>
    </div>
</div>


<script src="{% static "flowers_static/js/jquery-2.1.4.js" %}"></script>
<script src="{% static "flowers_static/js/jquery.mobile.custom.min.js" %}"></script>
<script src="{% static "flowers_static/js/main.js" %}"></script>
<script src="{% static "flowers_static/js/index.js" %}"></script>

</body>
</html>