<!DOCTYPE html>
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% load url from future %}
<html>
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="{% trans "SiteName" %}" />
    <title>{% trans "SiteName" %}</title>
    <link href="{% static "favicon.png" %}" rel="icon" type="image/icon">
    <link rel="apple-touch-icon" href="{% static "apple-touch-favicon.png" %}"/>
    <link href="{% static "css/home/page.css" %}" rel="icon" type="text/css">
</head>
<body class="lang-{{ LANGUAGE_CODE }}">


{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

{% if 'foo' in perms %}
    {% if 'foo.can_vote' in perms %}
        <p>In lookup works, too.</p>
    {% endif %}
{% endif %}


{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
    {% if language.code != LANGUAGE_CODE %}
        {% with "img/flags/"|add:language.code|add:'.png' as flag_static %}
            <a href="/lang/?lang={{ language.code }}&next={{request.path}}"><img src="{% static flag_static %}" style="width: 2em;" title="{{ language.name_local }}"></a>
        {% endwith %}
    {% else %}
        {% with "img/flags/"|add:language.code|add:'_push.png' as flag_static %}
            <a href="/lang/?lang={{ language.code }}&next={{request.path}}"><img src="{% static flag_static %}" style="width: 2em;" title="{{ language.name_local }}"></a>
        {% endwith %}
    {% endif %}
{% endfor %}




{% block page %}{% endblock %}

</body>
</html>