<!DOCTYPE html>
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% load url from future %}
<html>
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="{% trans "SiteName" %}" />
    <title>{% trans "SiteName" %}</title>
    <link href="{% static "favicon.png" %}" rel="icon" type="image/icon">
    <link rel="apple-touch-icon" href="{% static "apple-touch-favicon.png" %}"/>
    <link href="{% static "css/home/page.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/home/menu_style.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/loading.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/home/modal.css" %}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
</head>
<body class="lang-{{ LANGUAGE_CODE }}">
<div id="wrapper">
    <div id="header">
        <div class="ph-line-nav nav">
            <div class="menu">
                <a href="/" {% if index %}class="active"{% endif %}>Главная</a>
                <a href="#">О нас</a>
                <a href="#">Галерея</a>
                <a href="/settings/" id="settings" {% if settings %}class="active"{% endif %} title="{% trans "control" %}"></a>
                <div class="effect"></div>
            </div>
            <div id="account" class="outline-outward tooltip">
                <span>
                    <img class="callout" src="{% static "img/callout.gif" %}" />
                    {% if user.is_authenticated %}
                        <strong>{% trans "welcomeuser" %}, {{ user.username }}!</strong><br />
                        This is the easy-to-use Tooltip driven purely by CSS.
                    {% else %}
                        <strong>{% trans "welcomenewuser" %}</strong><br />
                        {% trans "pleaselogin" %} <a href="/accounts/login/">login</a> {% trans "orregistr" %}
                            <a href="/accounts/registration/">registration</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div id="content">
        {% block page %}{% endblock %}
    </div>

    <div id="footer">
        <div id="copyright" style="display: inline-block;">
            &copy; 2015 {% trans "copyright" %}
        </div>
        {% get_language_info_list for LANGUAGES as languages %}
        <div id="lang_table" style="display: inline-block;">
            {% for language in languages %}
                {% if language.code != LANGUAGE_CODE %}
                    <a href="/lang/?lang={{ language.code }}&next={{request.path}}" id="{{ language.code }}" class="lang">{{ language.name_local }}</a>
                {% else %}
                    <a href="/lang/?lang={{ language.code }}&next={{request.path}}" id="{{ language.code }}" class="lang ch">{{ language.name_local }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

<script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>