{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load twittertags %}

{% block page %}
    <link href="{% static "map/index.css" %}" type="text/css" rel="stylesheet">
    <h1>{% trans "Trasfer Activity Map" %}</h1>
    <div class="container_map">
        <div class="map">
            <div class="element">
                <div class="loading3"><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div class="areaLegend">
        </div>
    </div>

    <script charset="utf-8" type="text/javascript" src="{% static "map/mousewheel.js" %}"></script>
    <script charset="utf-8" type="text/javascript" src="{% static "map/raphael.js" %}"></script>
    <script charset="utf-8" type="text/javascript" src="{% static "map/jquery.mapael.js" %}"></script>
    <script charset="utf-8" type="text/javascript" src="{% static "map/world_countries.js" %}"></script>
    <script charset="utf-8" type="text/javascript">
        $(document).ready(function () {
            $(".container_map").mapael({
                map : {
                    name : "world_countries"
                    , zoom : {
                        enabled : true,
                        maxLevel : 24,
                        step : 4
                    }
                    , defaultPlot : {
                        attrs : {
                            fill: "#004a9b"
                            , opacity : 0.6
                        }
                        , attrsHover : {
                            opacity : 1
                        }
                        , text : {
                            attrs : {
                                fill : "#505444"
                            }
                            , attrsHover : {
                                fill : "#000"
                            }
                        }
                    }
                    , defaultArea: {
                        attrsHover : {
                            fill: "#E17D6B"
                        }
                        , text : {
                            attrs : {
                                fill : "#505444"
                            }
                            , attrsHover : {
                                fill : "#000"
                            }
                        }
                    }
                },
                legend : {
                    area : {
                        title :"{% trans "Count of transfer news" %}",
                        slices : [
                            {
                                max :50,
                                attrs : {
                                    fill : "#393939"
                                },
                                label :"{% trans "Less than de 50 inhabitants" %}"
                            },
                            {
                                min :50,
                                max :200,
                                attrs : {
                                    fill : "#696969"
                                },
                                label :"{% trans "Between 50 and 200 inhabitants" %}"
                            },
                            {
                                min :200,
                                max :500,
                                attrs : {
                                    fill : "#838383"
                                },
                                label :"{% trans "Between 200 and 500 inhabitants" %}"
                            },
                            {
                                min :500,
                                max :1000,
                                attrs : {
                                    fill : "#9b9b9b"
                                },
                                label :"{% trans "Between 500 and 1000 inhabitants" %}"
                            },
                            {
                                min :1000,
                                max :5000,
                                attrs : {
                                    fill : "#BCBCBC"
                                },
                                label :"{% trans "Between 1000 and 5000 inhabitants" %}"
                            },
                            {
                                min :5000,
                                attrs : {
                                    fill : "#E6E6E6"
                                },
                                label :"{% trans "More than 5000 inhabitants" %}"
                            }
                        ]
                    }
                },
                areas: {
                    {% for rec in countries %}
                        "{{ rec.code }}": {
                            value: {{ rec.tweets_count }},
                            href: "/stats/country/{{ rec.id }}/",
                            tooltip: {content: "<span style=\"font-weight:bold;\">{{ rec }}</span><br />{% trans "tweets count" %}: {{ rec.tweets_count }}"}
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                },
                plots : {
                    {% for rec in cities %}
                    '{{ rec }}': {
                        latitude: {{ rec.wcity_id.coordX|stringformat:"f" }},
                        longitude: {{ rec.wcity_id.coordY|stringformat:"f" }},
                        attrs: {
                            fill: "#c6342e"
                        },
                        size:{% if rec.tweets_count < 5 %}1{% elif rec.tweets_count >= 5 and rec.tweets_count < 20 %}2{% elif rec.tweets_count >= 20 and rec.tweets_count < 50 %}3{% elif rec.tweets_count >= 50 and rec.tweets_count < 100 %}4{% elif rec.tweets_count >= 100 and rec.tweets_count < 500 %}5{% else %}6{% endif %},
                        tooltip: {content: "{{ rec }}<br />{% trans "tweets count" %}: {{ rec.tweets_count }}"}
                    }{% if not forloop.last %},{% endif %}{% endfor %}
                },
                links: {
                    {% for val in country_links %}
                    '{% for x in val.0 %}{{ x }}{% if not forloop.last %}-{% endif %}{% endfor %}': {
                        factor: -0.5
                        , between: [{% for x in val.0 %}'{{ x }}'{% if not forloop.last %},{% endif %}{% endfor %}]
                        , attrs: {
                            stroke: "#c6342e",
                            "stroke-width": {{ val.1|stringformat:"f" }},
                            opacity:0.7
                        }
                        , tooltip: {content: "<div style='line-height: 13px; max-width: 200px'><b>{% for x in val.0 %}{{ x }}{% if not forloop.last %}-{% endif %}{% endfor %}</b><br>{% trans "veroyatnost" %}: {{ val.1|dev:3 }}<br>{{ val.2.ta_id }}: <i>{{ val.2 }}</i></div>"}
                    }{% if not forloop.last or city_links|length > 0 %},{% endif %}{% endfor %}
                    {% comment %}{% for val in city_links %}
                            '{% for x in val.0 %}{{ x }}{% if not forloop.last %}-{% endif %}{% endfor %}': {
                                factor: -0.5
                                , between: [{% for x in val.0 %}'{{ x }}'{% if not forloop.last %},{% endif %}{% endfor %}]
                                , attrs: {
                                    stroke: "#c6342e",
                                    "stroke-width": {{ val.1|stringformat:"f" }},
                                    opacity:0.7
                                }
                                , tooltip: {content: "<div style='line-height: 13px; max-width: 200px'><b>{% for x in val.0 %}{{ x }}{% if not forloop.last %}-{% endif %}{% endfor %}</b><br>{% trans "veroyatnost" %}: {{ val.1|dev:3 }}<br>{{ val.2.ta_id }}: <i>{{ val.2 }}</i></div>"}
                            }{% if not forloop.last %},{% endif %}{% endfor %} {% endcomment %}
                }
            });
        });
    </script>
    <script charset="utf-8" type="text/javascript" src="{% static "map/index.js" %}"></script>
{% endblock %}