{% extends "tests/index.html" %}

{% load url from future %}
{% load i18n %}

{% block page %}
    <div class="demo">
        <div class="floor isometric">
            <div class="appBar"><i id="drawerOpener" class="material-icons md-light md-24">menu</i></div>
            <div class="content">
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="fab dialogOpener toasted"></div>
            <div class="button dialogOpener"></div>
            <div id="dialog" class="dialogContainer hidden">
                <div class="dialog"></div>
            </div>
            <div id="drawer" class="drawerContainer hidden">
                <div class="drawer">
                    <div class="header"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}