html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 4.5em;
    margin: auto;
    width: 90%;
}

#footer {
    background: #e2e2e2;
    border-top: 1px solid #cecece;
}

#footer {
    bottom: 0;
    height: 4.5em;
    left: 0;
    position: absolute;
    width: 100%;
}

body, p {
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13.5px;
    line-height: 1.5em;
}

body {
  background: #f2f2f2;
  text-shadow: 0 1px 0 white;
}

#eng_lang {
    background: url("../../img/en.svg") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1em 0 2em;
    font-size: 1.5em;
    background-size: 1.5em;
    width: 45px;
}

#rus_lang {
    background: url("../../img/ru.svg") no-repeat scroll 1em 0.5em rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1em 0 2em;
    font-size: 1.5em;
    background-size: 1.5em;
    width: 45px;
}