#ru.lang {
    width: 80px;
}

#en.lang {
    width: 70px;
}

#ru.ch {
    background: rgba(0, 0, 0, 0) url("../../img/flags/ru_ch.svg") no-repeat scroll 0 11px / 30px auto !important;
}

#en.ch {
    background: rgba(0, 0, 0, 0) url("../../img/flags/en_ch.svg") no-repeat scroll 0 17px / 40px auto !important;
}


.dl-menuwrapper a {
    color: #ccc;
    text-decoration: none;
}

.dl-menuwrapper a:hover {
    color: #fff;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 67px;
    margin: auto;
    width: 90%;
    padding-top: 6em;
}

#footer {
    background: #e2e2e2;
    border-top: 1px solid #cecece;
}

#footer {
    bottom: 0;
    height: 66px;
    left: 0;
    position: absolute;
    width: 100%;
}

body, p {
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13.5px;
    line-height: 1.5em;
}

body {
    background: #f2f2f2;
    text-shadow: 0 1px 0 white;
}


#en {
    background: rgba(0, 0, 0, 0) url("../../img/flags/en.svg") no-repeat scroll 0 17px / 40px auto;
}

#ru {
    background: rgba(0, 0, 0, 0) url("../../img/flags/ru.svg") no-repeat scroll 0 11px / 30px auto;
}

.lang {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 20px 0 0;
    float: left;
    line-height: 25px;
    text-align: right;
    color: #393939;
    margin-left: 10px;
}

#lang_table {
    float: right;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-right: 20px;
}

a.tooltip {outline:none;}
.nav a.tooltip {font-size: 0.75em !important;}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;color: #393939;
    width:300px; line-height:16px;cursor: default;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0; transform: translateZ(0px);}

.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

#copyright {
    padding: 20px 40px 0;
    float: left;
    overflow: hidden;
    max-height: 25px;
    line-height: 25px;
}


ul.resp-tabs-list {
    margin: 0;
    padding: 0;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border: 1px solid #cecece;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #cecece;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #cecece;
    border-top: 0 solid #cecece;
    margin: 0;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0 solid #cecece !important;
    margin-bottom: 0 !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #cecece !important;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0;
    background-color: #fff;
    border: 1px solid #cecece;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #cecece;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #cecece;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB !important;
}
.resp-easy-accordion  h2.resp-accordion {
    display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #cecece;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #cecece !important;
}

.resp-jfit {
    width: 100%;
    margin: 0;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #cecece !important;
}

@media only screen and (max-width: 640px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #cecece;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #cecece !important;
    }

    .nav {
        display:none;
    }

    #footer {
        height: 35px;
    }

    #copyright {
        padding-top: 5px !important;
    }

    .lang {
        padding-top: 5px !important;
    }

    #en {
        background: rgba(0, 0, 0, 0) url("../../img/flags/en.svg") no-repeat scroll 0 3px / 40px auto;
    }

    #en.ch {
        background: rgba(0, 0, 0, 0) url("../../img/flags/en_ch.svg") no-repeat scroll 0 3px / 40px auto;
    }

    #ru.ch {
        background: rgba(0, 0, 0, 0) url("../../img/flags/ru_ch.svg") no-repeat scroll 0 -2px / 30px auto !important;
    }

    #ru {
        background: rgba(0, 0, 0, 0) url("../../img/flags/ru.svg") no-repeat scroll 0 -2px / 30px auto !important;
    }

    #content
    {
        padding-bottom: 36px
    }
}

/*----------------------------------------*/


button::-moz-focus-inner {
    border: 0; }

button.styled-button {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #393939;
    font-size: 12px;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 150px; }
button.styled-button:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #393939;
    cursor: pointer; }
button.styled-button:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #393939; }

button.styled-button.delete {
    width: 80px !important;
}


a::-moz-focus-inner {
    border: 0; }

a.styled-button {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #393939;
    font-size: 12px;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 150px; }
a.styled-button:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #393939;
    cursor: pointer; }
a.styled-button:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #393939; }

.hollow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: inset 0 0 0 4px #c6342e, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
}
.hollow:hover, .hollow:focus, .hollow:active {
    background: none;
    color:#393939;
}

.btn {
    background: #c6342e none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    margin: 0.4em;
    padding: 1em;
    text-decoration: none;
    border: none;
}

.btn.delete {
    padding: 6px;
    font-size: 1.05em;
}


.search {
    border: medium none;
    cursor: pointer;
    display: block;
    float: right;
    height: 2.5em;
    position: relative;
    width: 40px;
}

.search input {
    outline: none;
}
.search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
    display: none;
}

.search input[type=search] {
    background: rgba(0, 0, 0, 0) url(../../img/search.svg) no-repeat 2px 0 / 2.2em auto;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.search input[type=search]:hover {
    background: rgba(0, 0, 0, 0) url(../../img/search_hover.svg) no-repeat 2px 0 / 2.2em auto;
}


.search input[type=search]:focus {
    width: 130px;
    border: #66CC75 1px #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    background: #fff url(../../img/search_hover.svg) no-repeat 2px 0 / 2.2em auto;
}


.search input:-moz-placeholder {
    color: #999;
}
.search input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
.search-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
.search-2 input[type=search]:hover {
    background-color: #fff;
}
.search-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    cursor: auto;
    border: #66CC75 1px #66CC75;
    background: #fff url(../../img/search_hover.svg) no-repeat 0 0 / 2.2em auto;
}
.search-2 input:-moz-placeholder {
    color: transparent;
}
.search-2 input::-webkit-input-placeholder {
    color: transparent;
}

.inviz {
    display: none;
}


/* from elems */
form *, *::before, *::after {
    box-sizing: border-box;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

form input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    color: #393939;
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="text"] {
    padding: 10px;
    border: solid 1px gainsboro;
    -webkit-transition: box-shadow 0.3s, border 0.3s;
    -moz-transition: box-shadow 0.3s, border 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
}

form  input[type="text"]:focus {
    border: solid 1px #707070;
    -webkit-box-shadow: 0 0 5px 1px #969696;
    -moz-box-shadow: 0 0 5px 1px #969696;
    box-shadow: 0 0 5px 1px #969696;
}

form input[type="text"].danger:focus {
    border: solid 1px #c6342e !important;
    box-shadow: 0 0 5px 1px rgba(198, 52, 46, 0.33);
}

form input[type="text"].success:focus {
    border: solid 1px #1dc674 !important;
    box-shadow: 0 0 5px 1px rgba(29, 198, 116, 0.44);
}

form .submitbtn {
    min-width: 65px;
    max-width: 150px;
    float: right;
    height: 41px;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: inset 0 0 0 4px #00b366, 0 0 1px rgba(0, 0, 0, 0);
}

form .submitbtn:hover, form .submitbtn:focus, form .submitbtn:active {
    background: none;
    color:#393939;
}

.btn.submitbtn {
    background: #00b366 none repeat scroll 0 0;
    margin-right: 0;
}


.msg.info, .msg.success, .msg.warning, .msg.error, .msg.validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.msg.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg.error {
    color: #D8000C;
    background-color: #FFBABA;
}
