h1 {
    font-size: 1.5em;
    /* 25px/16px */
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */

.columns {
    -moz-column-width: 280px;
    /* Firefox */

    -webkit-column-width: 280px;
    /* webkit, Safari, Chrome */

    column-width: 280px;
}
/*remove standard list and bullet formatting from ul*/

.columns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/

.columns ul li:first-child {
    margin-top: 0;
}

.ProfileCard {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 10px;
    display:inline-block;
    min-width: 200px;
}

.ProfileCard-content
{
    margin: 13px 15px;
    position: relative;
}

.ProfileCard-avatarLink {
    border-radius: 6px;
    display: inline-block;
    margin: -39px 2px 0 -3px;
    padding: 3px;
    position: relative;
    vertical-align: bottom;
    z-index: 1;
    background: #fff url("../../img/nophoto.svg") no-repeat scroll 2px 2px / 48px auto;
}

.ProfileCard-avatarLink.logo {
    background: #fff;
}

.ProfileCard-avatarImage {
    border-radius: 5px;
    display: block;
    height: 48px;
    width: 48px;
}

.ProfileCard-avatarImage.logo_url:hover {
    opacity: 0.6;
    cursor: pointer;
}

.ProfileCard-actions {
    display: inline-block;
    height: 35px;
    margin: 0 0 -4px;
    position: absolute;
    right: 0;
    vertical-align: bottom;
}

.ProfileCard-userFields {
    color: #393939;
    margin-top: 5px;
}

.ProfileNameTruncated-link
{
    color: #393939;
    text-decoration: none;
    font-size: 20px;
}

.ProfileNameTruncated {
    height: 22px;
    line-height: 1.3;
    margin-top: -2px;
}

.ProfileCard-screenname {
    height: 14px;
    margin-bottom: 10px;
}


.ProfileCard .ProfileCard-screennameLink, .ProfileCard .ProfileCard-screennameLink:hover, .ProfileCard .ProfileCard-screennameLink:focus {
    color: #66757f;
    font-size: 12px;
    font-weight: 400;
}


.ProfileCard-bio {
    color: #66757f;
    font-size: 14px;
    font-weight: 400;
    height: 5.5em;
    line-height: 1.375em;
    margin-top: 5px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: justify;
}

.ProfileCard-bg {
    border-bottom: 1px solid #c2c2c2;
    border-radius: 4px 4px 0 0;
    display: block;
    height: 95px;
    background-color: #e2e2e2;
}


.ProfileCard-avatar-refreshbutton{
    background: rgba(0, 0, 0, 0) url("../../img/refresh.svg") no-repeat scroll 11px 0 / 27.5px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

.ProfileCard-avatar-refreshbutton:hover
{
    opacity: 1 !important;
}

#authors_content{
    min-width: 200px;
    min-height: 30px;
}

.add_author_block {
    float: right;
    overflow: hidden;
    position: relative;
    width: 90px;
    text-align: center;
    margin-top: -5px;
    height: 2.5em;

    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.add_author {
    display: block;
    position: relative;
    float: right;
    border: none;
    background: rgba(0, 0, 0, 0) url("../../img/author_add.svg") no-repeat scroll 0 0 / 2.5em auto;
    cursor: pointer;
    width: 40px;
    height: 2.5em;
}

.add_author:hover {
    background: rgba(0, 0, 0, 0) url("../../img/author_add_hover.svg") no-repeat scroll 0 0 / 2.5em auto;
}

.effect_author {
    position: absolute;
    left: -30%;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    width: 46px;
    height: 2px;
    bottom: 0;
    background: #c6342e;
    box-shadow: 0 1px 0 white;
    margin-left:-40px;
}


.tab1:nth-child(2):hover ~ .effect_author {
    left: 40% !important; }
.tab1:nth-child(2):focus ~ .effect_author {
    left: 60% !important; }
.tab1:nth-child(1):hover ~ .effect_author {
    left: 92% !important; }

.ProfileCard-bg-pic {
    text-align: right;
    height: 96px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.author-stat {
    font-size: 10px;
    line-height: 8px;
    margin-left: 0.6em;
    padding-left: 0;
    position: absolute;
}


