.world-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.world-list:nth-child(3)
{
    margin-left: 1%;
}

@media only screen and (max-width: 640px)
{
    .world-list {
        width: 100%;
    }
    .world-list:nth-child(3)
    {
        margin-left: 0;
    }
}

.list {
    list-style: outside none none;
    padding: 0;
    margin-top: 0;
}

.list > li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.list > li > button {
    border-style: solid;
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #393939;
    text-decoration: none !important;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    padding: 0.7em 0 0.7em 45px;
    border-width: 1px;
    width: 98%;
    font-size: 13.5px;
    background-position:  4px 4px;
    background-size: 27px;
    background-repeat: no-repeat;
}

.list > li > button:hover {
    border-color: #c6342e ;
    background-color: #e1e1e1;
}

.list > li > button:active {
    border-color: #c6342e;
    background-color: #e17d6b;
    color: #fff;
}

.li-count {
    font-size: 12.5px;
    font-weight: 700;
    line-height: 1.6em;
    margin-top: -0.88em;
    min-height: 1.6em;
    min-width: 0.64em;
    padding: 0 0.48em;
    position: absolute;
    right: 0.8em;
    text-align: center;
    top: 50%;
    border-style: solid;
    border-width: 1px;
    background-color: #393939;
    border-color: #1d1d1d;
    color: #fff;
    text-shadow: 0 1px 0 #393939;
    border-radius: 0.3125em;
    white-space: nowrap;
    cursor: pointer;
}

.scr {
    margin-top: 13px;
}