{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% load url from future %}

<link href="{% static "css/home/../../../static/map/world.css" %}" type="text/css" rel="stylesheet">

<div class="world-list">
    <h1>{% trans "world_list" %}</h1>
    <form>
        <div id="country-list">
            <input type="text" class="search-list" style="font-size: 12.5px; height: 36px"/>
            <div class="scr">
                <ul class="list">
                    {% for rec in countries %}
                        <li>
                            <button class="list-a" style="background-image: url({{ rec.wc_id.logo.url }})" type="button" onclick="find_clibs('wc={{ rec.wc_id_id }}')">{{ rec.wc_name }}
                                <span class="li-count" title="{% trans "count_clubs "%}">{{ rec.country_count }}</span></button>
                            <div class="val-name inviz">{{ rec.wc_name }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="world-list">
    <h1>{% trans "city_list" %}</h1>
    <form>
        <div id="city-list">
            <input type="text" class="search-list" style="font-size: 12.5px; height: 36px"/>
            <div class="scr">
                <ul class="list">
                    {% for rec in cities %}
                        <li>
                            <button class="list-a" style="background-image: url({{ rec.wcity_id.wc_id.logo.url }})" type="button" onclick="find_clibs('wcity={{ rec.wcity_id_id }}')">{{ rec.wcity_name }}
                                <span class="li-count" title="{% trans "count_clubs "%}">{{ rec.city_count }}</span></button>
                            <div class="val-name inviz">{{ rec.wcity_name }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
</div>



<script type="text/javascript">
    var options = {
        valueNames: [ 'val-name' ]
    };
    var countryList = new List('country-list', options);

    var options1 = {
        valueNames: [ 'val-name' ]
    };
    var cityList = new List('city-list', options);

    $('.search-list').keypress(function(event){
        if(event.keyCode == 13){
            event.stopImmediatePropagation();
            event.preventDefault();}
    });
    setTimeout(resizeIndex, 1000);
</script>